$primary: #5EC5C8;
$secondary: #b1d9db;
$info: #A0A0A0;
$success:#ECE9EC;
$font-family-base:'Outfit',sans-serif;
$font-family-code:'Poppins',sans-serif;
$enable-negative-margins: true;
$display-font-sizes: (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 1.5rem
);
@import '../node_modules/bootstrap/scss/bootstrap'